.headerContainer {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  height: 2.5rem;

  top: 0;
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;

  .headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    margin-left: 1rem;
    
    img {
      height: 2.5rem;
      margin-right: 0.938rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
