.headerContainer {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  height: 4.2rem;

  top: 0;
  padding-top: 0.938rem;

  .headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--white);
    margin-left: 8.625rem;

    img {
      height: 3.125rem;
      margin-right: 0.938rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
