@media only screen and (max-width: 1366px) {
  .mindmap {
    height: 76vh;
  }
}

@media only screen and (min-width: 1440px) {
  .mindmap {
    height: 80vh;
  }
}


@media only screen and (min-width: 1920px) {
  .mindmap {
    height: 87vh;
  }
}



  
  .mindmap {

    margin: 1rem, 1rem, 1rem, 1rem;
    background: #fff;
    font-size: 10px;
    text-align: center;
  }

  .navigation{
    background-color: #fff;

    a{
      font-size: 12px;
      cursor: pointer;
      font-weight: bold;
      padding: 4px;
    }

  }