
@media only screen and (max-width: 1440px) {
    .mindmap {
      height: 38.125rem;
    }
  }
  
  @media only screen and (max-width: 1366px) {
    .mindmap {
      height: 30.125rem;
    }
  }
  
  .mindmap {

    margin: 1rem, 1rem, 1rem, 1rem;
    background: #fff;
    font-size: 10px;
    text-align: center;
  }

  .navigation{
    background-color: #fff;

    a{
      font-size: 12px;
      cursor: pointer;
      font-weight: bold;
      padding: 4px;
    }

  }